/*=========================================
 * = Google Fonts
 ========================================*/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700);

/*=========================================
 * = Global Override
 ========================================*/

::-moz-selection {
	text-shadow: none;
	color: #111;
	background: #eee;
}

::selection {
	text-shadow: none;
	color: #111;
	background: #eee;
}

img::selection {
	color: #111;
	background: 0 0;
}

img::-moz-selection {
	color: #111;
	background: 0 0;
}

:focus {
	outline: 0 !important;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	background-color: #111;
	color: #ccc;
	webkit-tap-highlight-color: #eee;
	top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
}

a {
	color: #fa023c;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

a:hover,
a:focus {
	color: #fff;
	outline: 0;
	text-decoration: none;
	text-shadow: 0 0 10px #fa023c;
	-webkit-text-shadow: 0 0 10px #fa023c;
	-moz-text-shadow: 0 0 10px #fa023c;
}

p {
	color: #ccc;
	font-size: 17px;
	line-height: 1.7;
	margin-bottom: 20px;
	font-family: 'Titillium Web', 'Helvetica Neue', Arial, sans-serif;
}

section {
	padding: 60px 0 30px;
}

aside {
	padding: 45px 0;
}

/*=========================================
 * = Class Helper
 ========================================*/

.bg-inverse {
	background-color: #2a282b;
}

.hide {
	display: none !important;
}

.lead {
	color: #fff;
	font-weight: 600;
}

.card {
	background: #111;
	border-color: #333;
}

.tooltip {
	font-size: .75rem;
}

body.modal-open {
	padding-right: 0 !important;
}

body.modal-open .modal {
	overflow-y: hidden;
}

.modal-dialog,
.modal-content {
	display: block;
	border: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	background-color: #111;
	border-radius: 0;
	overflow: hidden;
}

.modal-dialog .modal-content {
  display: block;
  padding: 1em;
}

.modal-content .modal-header,
.modal-content .modal-footer {
  display: block;
  height: auto;
	border: none;
	padding: 0;
}

.modal-content .modal-footer {
	position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1rem;
	z-index: 1;
}

.modal-content .section-title hr {
	margin-left: 0;
}

.modal-backdrop {
	background-color: #000;
}

.modal-backdrop.in {
	opacity: .8;
}

.modal-header .close {
	color: #000;
	opacity: 1;
}

hr {
	max-width: 120px;
	border-width: 3px;
	opacity: 0.08;
	margin-top: 25px;
	margin-bottom: 25px;
}

hr.light {
	border-color: #eceeef;
	opacity: 1;
}

hr.primary {
	border-color: #fa023c;
	opacity: 1;
}

.text-normal {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.wide-space {
	letter-spacing: 1.6px;
}

.icon-lg {
	font-size: 40px;
	line-height: 20px;
}

.bg-main {
	background-color: #111;
}

.bg-alt {
	background-color: #191919;
}

.bg-light {
	background-color: #252525;
}

.text-faded {
	color: rgba(245, 245, 245, 0.7);
}

.text-dark {
	color: #999;
}

.text-light {
	color: #fff;
	font-weight: 300 !important;
}

.text-light:hover,
.text-light:focus {
	color: #eee;
	text-decoration: none;
}

.text-primary {
	color: #fa023c !important;
}

.section-title h1,
.section-title h2 {
	color: #eee;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-bottom: 0;
	font-size: 1.8rem;
}

.section-title h1 > .text-muted,
.section-title h2 > .text-muted {
	display: block;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: none;
	text-align: center;
}

.section-title hr.primary {
	margin-bottom: 15px;
	margin-top: 15px;
}

.section-title .lead {
	color: #929292;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	margin: 15px auto 30px;
	width: 75%;
}

/* Loading Spinner */

.spinner {
	display: none;
  margin: 80px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #fa023c;
  height: 100%;
  width: 6px;
	margin: 0 1px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .wait {
	display: block;
	width: 100%;
	margin-top: 5px;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Form Checked */

.checked {
  width: 136px;
  height: 136px;
  background: #999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.checked + .checkcs {
	position: absolute;
  top: 50%;
  left: 50%;
	text-align: center;
	margin-top: 140px;
	color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.checked + .checkcs p {
	font-weight: 400;
	color: #fff;
}

.checked + .checkcs a {
	font-size: .8em;
	font-weight: 700;
}

.checked:before {
  content: "";
  background: #fff;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 9%;
  left: 9%;
  right: 9%;
  bottom: 9%;
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.checked:after {
  content: "";
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-color: #fa023c;
  border-width: 0;
  border-style: solid;
}

.checked .check-icon {
  position: absolute;
  z-index: 3;
  top: 31%;
  left: 28%;
  width: 45%;
  fill: #999;
}

.checked.active:after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-width: 68px;
}

.checked.active .check-icon {
  fill: #fff;
  -webkit-animation: bounceCheck 0.6s;
  animation: bounceCheck 0.6s;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

@-webkit-keyframes bounceCheck {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@keyframes bounceCheck {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

/*=========================================
 * = Footer
 ========================================*/

.sitefooter {
	padding: 15px 0 30px;
	background-color: #111;
	border-top: 15px dashed #222;
}

.sitefooter h4,
.sitefooter h6 {
	color: #fff;
}

.social-media a {
  display: block;
  width: 40px;
  height: 40px;
}

.sitefooter .copyright {
	text-align: center;
}

.sitefooter .copyright a {
	color: #b7b7b7;
}

.sitefooter .copyright i {
	margin-left: 5px;
	margin-right: 5px;
}

/*=========================================
 * = Navigation
 ========================================*/

.navbar-toggler {
	position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 203;
}

.navbar-toggler svg {
  width: 56px;
  height: 56px;
  cursor: pointer;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.navbar-toggler path {
  fill: none;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25,-0.25,0.75,1.25), stroke-dasharray 0.5s cubic-bezier(0.25,-0.25,0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25,-0.25,0.75,1.25), stroke-dasharray 0.5s cubic-bezier(0.25,-0.25,0.75,1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: #ccc;
  stroke-dashoffset: 0px;
}
.navbar-toggler path#top,
.navbar-toggler path#bottom {
  stroke-dasharray: 240px 950px;
}
.navbar-toggler path#middle {
  stroke-dasharray: 240px 240px;
}
.navbar-toggler.cross path#top,
.navbar-toggler.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
.navbar-toggler.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}

.navbar-default {
	border: 0;
	background-color: #111;
	margin-bottom: -75px;
	z-index: 202;
}

.navbar-default.navbar-fixed-top {
	margin-bottom: 0;
}

.navbar-brand img {
	width: auto;
	height: 20px;
	margin: 8px 15px 8px 0;
}

.navbar-default .nav .nav-link,
.navbar-default .nav .nav-link:focus {
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	position: relative;
}

.navbar-default .nav .quote-link,
.navbar-default .nav .quote-link:focus {
	color: #fa023c;
}

.navbar-default .nav .nav-link:hover {
	color: #fa023c;
	text-shadow: none;
}

.navbar-default .nav .quote-link:hover {
	color: #fff;
}

.navbar-default .nav .nav-link.active,
.navbar-default .nav .nav-link.active:focus {
	color: #fa023c;
	background-color: transparent;
}

.nav .nav-link:before {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #fa023c;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: transform 0.1s;
	transition: transform 0.1s;
}

.nav .nav-link.active:before {
	transform: scale3d(1, 1, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
}

.menu-mobile {
	background: #111;
	display: block;
	position: fixed;
	top: 56px;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 200;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%);
}

.menu-mobile.shown {
	opacity: 1;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

.menu-mobile .nav .nav-link {
  display: block;
  font-size: 2em;
  text-align: center;
}

.menu-mobile .nav .quote-link {
	border: 2px solid #fa023b;
	font-size: 2.2em;
	font-weight: 700;
}

.menu-mobile .nav-quote {
	padding-top: 2.2em;
}

.menu-mobile .row {
	position: relative;
}

.menu-mobile .row .col-xs-12 {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/* responsive nav */

@media(max-width:48em) {
	body.menu-open {
		overflow: hidden !important;
	}
	.navbar-default .navbar-nav {
		display: none;
	}
	.navbar-default .navbar-brand {
		display: block;
		float: none;
		text-align: center;
		margin: 0;
	}
	.navbar-default .navbar-brand img {
		display: inline;
		margin: 5px auto;
	}
	.section-title h1,
	.section-title h2 {
		display: block;
		text-align: center;
	}
	.section-title .lead {
		width: 95%;
	}
}

@media(min-width:48em) {
	.navbar-default {
		border-color: transparent;
		background-color: #fff;
		min-height: 60px;
	}
	.navbar-brand {
		padding: 12px;
	}
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		color: #fa023c;
		text-shadow: none;
	}
	.navbar-default .nav > li>a,
	.navbar-default .nav>li>a:focus {
		color: #fff;
		padding-left: 5px;
		padding-top: 21px;
		letter-spacing: 1.1px;
		text-shadow: none;
	}
	.navbar-default .nav > li>a:hover,
	.navbar-default .nav>li>a:focus:hover {
		color: #fa023c;
		text-shadow: none;
	}
	.social-media a {
		width: 50px;
		height: 50px;
	}
	#topNav {
		background-color: #111;
	}
	.section-title h1 > .text-muted,
	.section-title h2 > .text-muted {
		display: inline-block;
		text-align: left;
	}
	.modal-dialog .modal-content {
		padding: 2.8em;
	}
	.modal-dialog .modal-footer {
		bottom: 2.8em;
		left: 2.8em;
		right: 2.8em;
	}
}

/* Tablet and Up */
@media (min-width: 62em) {
	.social-media a {
		width: 60px;
		height: 60px;
	}
}

/*=========================================
 * = Header
 ========================================*/

.siteheader {
	position: relative;
	min-height: auto;
	text-align: center;
	color: #333;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	background-image: url(../img/fauzie-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.siteheader .header-content {
	position: relative;
	width: 100%;
	padding: 50% 15px;
	text-align: center;
	z-index: 2;
}

.siteheader .header-content .inner .site-title {
	margin-top: 0;
	margin-bottom: 0;
}

.siteheader .header-content .inner .site-title > span {
	display: none;
}

.siteheader .header-content .inner .site-subtitle {
	letter-spacing: 6px;
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 25px;
	min-height: 25px;
}

.siteheader .header-content .inner p {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	color: #333;
}

.siteheader .header-content .inner .btn-primary-outline {
	background-color: transparent !important;
}

.siteheader .header-content .inner .btn-primary-outline:hover,
.siteheader .header-content .inner .btn-primary-outline:focus,
.siteheader .header-content .inner .btn-primary-outline:active {
	color: #fa023c;
	text-shadow: none !important;
}

@media(min-width:34em) {
	.icon-lg {
		font-size: 50px;
	}
	#about .fauzie-details {
		width: 80%;
	}
	.siteheader {
		min-height: 100%;
	}
	.siteheader .header-content {
		position: absolute;
		top: 50%;
		padding: 0 50px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.siteheader .header-content .inner {
		margin-right: auto;
		margin-left: auto;
		max-width: 1000px;
	}
	.siteheader .header-content .inner h1 {
		font-size: 53px;
	}
	.siteheader .header-content .inner p {
		margin-right: auto;
		margin-left: auto;
		max-width: 80%;
		font-size: 18px;
	}
	section {
		min-height: 580px;
		padding: 80px 0 50px;
	}
}

/*=========================================
 * = Forms
 ========================================*/

textarea {
	resize: vertical;
}

.submit-group {
	margin-top: 2em;
}

.form-group {
	padding-top: 1.2em;
	margin-top: 1em;
	position: relative;
}

.form-group .form-control-label {
	display: inline-block;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	-webkit-transform: translate3d(0, 2.2em, 0);
	transform: translate3d(0, 2.2em, 0);
}

.form-group .form-control-label .label-content {
	display: block;
	padding: 0 1em;
	font-weight: 300;
	color: #b5b5b5;
	position: relative;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
}

.form-group .form-control-label .label-content:after {
	content: attr(data-content);
	position: absolute;
	top: -200%;
	left: 0;
	color: #fa023c;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.active-filled.form-group .form-control-label {
	-webkit-animation: inputLabelActive 0.25s forwards;
	animation: inputLabelActive 0.25s forwards;
}

.form-group .form-control {
	background-color: #111;
	position: relative;
	display: block;
	float: right;
	color: #eceeef;
	padding: 0.8em 0.6em;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 2px solid #b5b5b5;
	-webkit-appearance: none;
  -webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
}

.active-filled.form-group .label-content,
.form-group .form-control:focus + .form-control-label .label-content {
	-webkit-animation: inputLabelContentActive 0.25s forwards ease-in;
	animation: inputLabelContentActive 0.25s forwards ease-in;
}

.active-filled.form-group .form-control,
.form-group .form-control:focus {
	color: #fff;
	border: 2px solid #fa023c;
	outline: none;
}

@-webkit-keyframes inputLabelActive {
	0%, 70% {
		-webkit-transform: translate3d(0, 2.2em, 0);
		transform: translate3d(0, 2.2em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes inputLabelActive {
	0%, 70% {
		-webkit-transform: translate3d(0, 2.2em, 0);
		transform: translate3d(0, 2.2em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes inputLabelContentActive {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

@keyframes inputLabelContentActive {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

.btn {
	border-width: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	letter-spacing: 2px;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	font-weight: 300 !important;
	-webkit-transition: background-color 0.3s, border-color 0.5s, color 0.3s;
	transition: background-color 0.3s, border-color 0.5s, color 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.btn-lg {
	padding: .8rem 2rem;
}

.btn:not(.disabled):active {
    top: 2px;
}

.btn:not(.disabled):before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fa023c;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn:not(.disabled):hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.btn.btn-secondary-outline {
	-webkit-box-shadow: inset 0px 0px 0px 2px #ccc;
	-moz-box-shadow: inset 0px 0px 0px 2px #ccc;
	box-shadow: inset 0px 0px 0px 2px #ccc;
}

.btn.btn-secondary:before,
.btn.btn-secondary-outline:before {
	border-color: #ccc;
}


.btn.btn-primary {
	background-color: #fa023c;
	color: #eee;
}

.btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active,
.open > .btn.btn-primary.dropdown-toggle, .btn.btn-primary:hover {
	background-color: #111;
	color: #fa023c;
}

.btn-primary-outline {
	background-color: transparent;
	color: #fa023c;
	-webkit-box-shadow: inset 0px 0px 0px 2px #fa023c;
	-moz-box-shadow: inset 0px 0px 0px 2px #fa023c;
	box-shadow: inset 0px 0px 0px 2px #fa023c;
}

.btn-primary-outline:focus, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline.active,
.open > .btn-primary-outline.dropdown-toggle, .btn-primary-outline:hover {
	background-color: #fa023c;
	color: #fff;
}

.btn.disabled, .btn:disabled,
.btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus,
.btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus,
.btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover,
.btn-primary-outline.disabled:focus, .btn-primary-outline.disabled.focus,
.btn-primary-outline:disabled:focus, .btn-primary-outline:disabled.focus,
.btn-primary-outline.disabled:hover, .btn-primary-outline:disabled:hover {
  opacity: .8;
	color: #eee;
	background-color: #b5b5b5;
}

.btn-xl {
	padding: 18px 32px;
	font-size: 20px;
}

.btn-clear {
  -webkit-appearance: none;
	color: #eee;
  cursor: pointer;
  background: transparent;
  border: 0;
	padding: 0;
	margin: 0 3px;
	font-size: 22px;
}

.btn-clear:hover {
	color: #fa023c;
}

.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

/*=========================================
 * = Skill Bars
 ========================================*/

.skill-title {
	display: block;
  margin-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;
}
.skillbars .skillbar-wrap {
  display: table;
  width: 100%;
  padding-bottom: 30px;
}
.skillbars .skillbar-wrap .icon {
	display: table-cell;
	vertical-align: bottom;
  width: 10%;
  padding-right: 15px;
}
.skillbars .skillbar-wrap .icon i {
  display: block;
	font-size: 32px;
  line-height: 1em;
  text-align: center;
}
.skillbars .skillbar-wrap .bar-and-text {
	display: table-cell;
	vertical-align: bottom;
  width: 80%;
  text-transform: uppercase;
}
.skillbars .skillbar-wrap .bar-and-text > span {
  font-weight: 600;
  font-size: 15px;
}
.skillbars .skillbar-wrap .bar-and-text .bar {
  background: #111;
  height: 5px;
  margin-top: 5px;
  overflow: hidden;
}
.skillbars .skillbar-wrap .bar-and-text .bar .filled {
	background-color: #fa023c;
  height: 5px;
  position: relative;
}
.skillbars .skillbar-wrap .bar-and-text .bar .filled:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  right: -5px;
  top: 0px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}
.skillbars .skillbar-wrap .number-wrap {
	display: table-cell;
	vertical-align: bottom;
  width: 10%;
}
.skillbars .skillbar-wrap .number-wrap .number {
  background: #111;
  padding: 5px 10px;
  color: #b5b5b5;
  font-size: 10px;
	font-weight: 400;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: 7px;
}
.skillbars .skillbar-wrap .number-wrap .number:before {
  content: "";
  position: absolute;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid #111;
  display: inline-block;
  height: 5px;
  vertical-align: top;
  width: 5px;
  left: -10px;
}

/*=========================================
 * = Custom Section Specific
 ========================================*/

#about {
	position: relative;
	background-color: transparent;
	padding-top: 176px;
}

#about:after {
  content: "";
	background-color: #000;
	background-image: url(../img/fauzie-bg2.jpg);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
	-webkit-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

#about.faded:after {
	opacity: 0;
}

#about a.url,
#about .jobTitle {
	display: none;
}

#about .site-desc a {
	color: inherit;
}

#about .fauzie-details {
	margin: 15px auto 30px;
	width: 95%;
}

#about .fauzie-details .icon-lg {
	display: block;
	line-height: 1em;
	color: #fefefe;
}

#about .fauzie-details .icon-lg + span {
	display: block;
	text-align: center;
	line-height: 46px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}

/* equal card height */

.row-equal > div[class*='col-'] {
	display: flex;
	flex: 1 0 auto;
}

.row-equal .card {
 width: 100%;
}

.row-equal .card h6 span i {
  font-size: 1.2rem;
  color: #999;
}

.row-equal .card h4 {
	font-size: 1.3rem;
}

.row-equal .card h4 a {
	display: block;
	text-align: center;
	font-weight: 600;
}

@media (max-width: 543px) {
	.row-equal .card h4 {
		font-size: 1.1rem;
	}
}

.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
	display: flex;
}

.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
	opacity: 0.5;
	display: flex;
}

.card-img-top-display {
	max-height: 180px;
	overflow:hidden;
}

#cta .get-quote {
	width: 95%;
	margin: 0 auto;
}

#contact .feedback-message small {
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}

#contact .feedback-message small > i {
	font-size: 16px;
	margin-right: 5px;
}

#contact .feedback-message .error {
	color: #eb7e7f;
}

#contact .feedback-message .success {
	color: #768fbd;
}

/*=========================================
 * = Form Wizard
 ========================================*/

#form-wrap .modal-form {
	position: relative;
  text-align: left;
  font-size: 2.5em;
	top: 32%;
  margin: 0 auto;
  width: 70%;
}

#form-wrap .form-submit {
	display: none;
	margin: 5rem auto 2rem;
	padding: 8px 50px;
	font-size: 1.2rem;
	font-weight: 600 !important;
}

#form-wrap .btn-continue {
	position: relative;
	margin: 15px 0 21px;
	visibility: hidden;
}

#form-wrap .btn-continue:after {
  content: "or press ENTER";
  position: absolute;
  left: 0;
  right: 0;
  top: 110%;
  font-size: 12px;
	line-height: 20px;
  color: #888;
}

#form-wrap .review-title {
	display: none;
}

#form-progress {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  z-index: 1060;
	visibility: hidden;
}

#form-progress > span {
  background: #fa023c;
  display: block;
  height: 0.5em;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

#form-wrap .form-numbers {
	display: block;
	position: relative;
	cursor: default;
	width: 2em;
	font-size: 1.8rem;
	font-weight: 400;
	visibility: hidden;
	overflow: hidden;
}

#form-wrap .form-numbers span {
	color: #eee;
	float: right;
  width: 40%;
  text-align: center;
}

#form-wrap .form-numbers .current {
	float: left;
}

#form-wrap .form-numbers:after {
	color: #fff;
	display: table;
  position: absolute;
  width: 100%;
  text-align: center;
  content: '/';
  font-weight: 300;
  opacity: 0.4;
  left: 0;
	clear: both;
}

#form-wrap .form-numbers .number-new {
	position: absolute;
	left: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

/* Animations for numbers */
/* Show next number */
#form-wrap .form-numbers.show-next .number-new {
	-webkit-animation: animMoveUpFromDown 0.4s both;
	animation: animMoveUpFromDown 0.4s both;
}

@-webkit-keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

#form-wrap .form-numbers.show-next .current {
	-webkit-animation: animMoveUp 0.4s both;
	animation: animMoveUp 0.4s both;
}

@-webkit-keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); }
}

@keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

/* Show previous number */
#form-wrap .form-numbers.show-prev .number-new {
	-webkit-animation: animMoveDownFromUp 0.4s both;
	animation: animMoveDownFromUp 0.4s both;
}

@-webkit-keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

#form-wrap .form-numbers.show-prev .current {
	-webkit-animation: animMoveDown 0.4s both;
	animation: animMoveDown 0.4s both;
}

@-webkit-keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); }
}

@keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

/* Dots Control */

#form-wrap .form-nav-dots {
  position: absolute;
  right: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
	visibility: hidden;
	z-index: 1060;
}

#form-wrap .form-nav-dots button {
	position: relative;
  display: block;
  padding: 0;
  margin: 16px 0;
  width: 16px;
  height: 16px;
	border: none;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#form-wrap .form-nav-dots button:before,
#form-wrap .form-nav-dots button:after {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  content: '';
  text-indent: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#form-wrap .form-nav-dots button:after {
	background-color: rgba(0,0,0,0.4);
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
  transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

#form-wrap .form-nav-dots button:hover:before,
#form-wrap .form-nav-dots button.form-dot-current:before {
	background: #eee;
}

#form-wrap .form-nav-dots button[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

/* Form Wizard : Fields */

.modal-form .form-message-final,
.modal-form .form-message-error {
	display: block;
	color: #eb7e7f;
	font-size: 14px;
	font-weight: 700;
	visibility: hidden;
	opacity: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.modal-form .form-message-error.form-show {
	opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.modal-form .form-fields {
	position: relative;
  margin: 0 auto;
  padding: 0;
  top: 32%;
  list-style: none;
}

.modal-form .form-fields > li {
  width: 100%;
	visibility: hidden;
	position: absolute;
}

.modal-form .form-fields .form-label {
	color: #eee;
	display: inline-block;
  padding: 0 5px 1em 0;
	margin: 1.5em 0 0 0;
	font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  pointer-events: none;
	position: relative;
}

.modal-form .form-fields .form-field {
	display: block;
  margin: 0;
  padding: 0 0 0.15em;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.3);
  background-color: transparent;
  color: #eee;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.5em;
  border-radius: 0;
	position: relative;
}

.modal-form .form-fields .form-field:focus,
.modal-form .form-fields .form-field:active {
	border-color: #fa023c;
}

.modal-form .form-fields .form-label[data-info]:before {
	position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0 0 10px;
  min-width: 200px;
  content: attr(data-info);
  font-size: 14px;
  color: #768fbd;
	font-family: 'Titillium Web', sans-serif;
  -webkit-transform: translate3d(0,-5px,0);
  transform: translate3d(0,-5px,0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
	visibility: hidden;
}

.modal-form .form-fields .form-label[data-info]:hover:before {
	opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
	visibility: visible;
}

.modal-form .form-fields .form-label:hover ~ .field-info,
.modal-form .form-fields > li .field-info:hover {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	pointer-events: auto;
}

.modal-form .form-fields .form-label[data-info]:after {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(255,255,255,0.4);
  color: rgba(255,255,255,0.4);
  border-radius: 50%;
  content: 'i';
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
  font-family: Georgia, serif;
  line-height: 20px;
  cursor: pointer;
  pointer-events: auto;
}

.form-show {
  visibility: visible !important;
}

/* Animation classes & animations */
.modal-form .form-fields .field-current {
	visibility: visible;
}

.modal-form .form-fields .field-hide,
.modal-form .form-fields .field-show {
	pointer-events: none;
}

/* Hide current li when navigating to next question */
.modal-form .fields-next .field-hide {
	visibility: visible;
}

.modal-form .fields-next .field-hide .form-field,
.modal-form .fields-next .field-hide .form-label {
	-webkit-animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.modal-form .fields-next .field-hide .form-field {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Show new li when navigating to next question */
.modal-form .fields-next .field-show .form-field,
.modal-form .fields-next .field-show .form-label {
	-webkit-animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.modal-form .fields-next .field-show .form-field {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Hide current li when navigating to previous question */
.modal-form .fields-prev .field-hide {
	visibility: visible;
}

.modal-form .fields-prev .form-field,
.modal-form .fields-prev .field-hide .form-label {
	-webkit-animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.modal-form .fields-prev .field-hide .form-label {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Show new li when navigating to previous question */
.modal-form .fields-prev .field-show .form-field,
.modal-form .fields-prev .field-show .form-label {
	-webkit-animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.modal-form .fields-prev .field-show .form-label {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Custom Radio Input */

.modal-form .form-fields .form-radio-group {
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
}

.form-fields .form-radio-group input[type="radio"] {
	position: absolute;
	display: block;
	margin: 30px auto 20px;
	margin: 0 auto 20px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.form-fields > li .form-radio-group span {
	float: left;
	position: relative;
	margin-right: 3%;
	padding: 10px;
	max-width: 200px;
	width: 30%;
	text-align: center;
	font-weight: 700;
	font-size: 50%;
}

.form-fields > li .form-radio-group span label {
	color: #aba2a2;
}

.form-overview .form-fields > li .form-radio-group span {
	max-width: 140px;
}

.form-overview .form-fields > li .form-radio-group span {
	font-size: 75%;
}

.form-fields > li .form-radio-group label {
	display: block;
	padding-top: 50%;
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 1rem;
	margin: 0;
}

.form-fields .form-radio-group label[data-info]:before {
	content: attr(data-info);
	display: block;
	margin: 0 auto;
	color: inherit;
	font-size: .8em;
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate(0,50%,0);
}

.form-fields .form-radio-group label:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background: none;
	content: "";
	opacity: 0.5;
	color: #ccc;
	font-family: "Ionicons";
  speak: none;
	font-size: 4.5em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.form-fields .form-radio-group label.radio-conversion:after {
	content: "\f370";
}
.form-fields .form-radio-group label.radio-social:after {
	content: "\f3ac";
}
.form-fields .form-radio-group label.radio-apps:after {
	content: "\f2c3";
}

.form-fields > li .form-radio-group span label:hover,
.form-fields > li .form-radio-group span label:focus,
.form-fields .form-radio-group input[type="radio"]:checked + label,
.form-overview .form-fields .form-radio-group input[type="radio"]:checked + label {
	color: #fff;
}

.form-fields .form-radio-group label[data-info]:hover:before,
.form-fields .field-current .form-radio-group input[type="radio"]:checked + label:before {
	opacity: .9;
	visibility: visible;
	-webkit-transform: translate3d(0,0,0);
	transform: translate(0,0,0);
}

.form-fields .form-radio-group input[type="radio"]:checked + label:before {
	visibility: hidden;
}

.form-fields .form-radio-group label:hover:after,
.form-fields .form-radio-group label:focus:after,
.form-fields input[type="radio"]:focus + label:after {
	opacity: 1;
	color: #fff;
	text-shadow: none;
}

.form-fields input[type="radio"]:checked + label:after {
	opacity: 1;
	color: #fa023c;
	text-shadow: none;
}

.modal-form .form-fields .form-field.field-mark {
	padding-left: 1em;
	background-image: url(../img/dollar.svg);
  background-position: left center;
  background-size: auto 60%;
  background-repeat: no-repeat;
}

.modal-form .form-fields .form-field.textarea {
  font-size: 1.5rem;
  resize: none;
  padding: 0.15em 0.4em;
  border: 2px solid rgba(255,255,255,0.3);
}

.modal-form .form-fields .form-field.textarea:focus {
	border-color: #fa023c;
}

/* Review after Wizard */

#form-wrap .modal-form.form-overview {
	display: block;
	height: 100%;
	overflow: hidden;
}

#form-wrap .modal-form.form-overview .form-fields > li {
	position: relative;
	display: block;
	visibility: visible;
	margin-bottom: 1rem;
}

#form-wrap .modal-form.form-overview li .form-label {
	font-size: 1rem;
	font-weight: 300;
}

#form-wrap .modal-form.form-overview li .form-field {
	font-size: 1rem;
	padding: 10px 15px;
	border: 2px solid rgba(255,255,255,0.3);
}

#form-wrap .modal-form.form-overview li .form-field.field-mark {
	padding-left: 2em;
}

#form-wrap .modal-form.form-overview li .form-field.form-radio-group {
	border: 0;
	padding: 0;
}

#form-wrap .modal-form.form-overview li .form-field.form-radio-group input[type="radio"]:checked + label:before {
	visibility: visible;
}

#form-wrap .modal-form.form-overview li .form-field:focus,
#form-wrap .modal-form.form-overview li .form-field:active {
	border-color: #fa023c;
}

#form-wrap .modal-form.form-overview .review-title,
#form-wrap .modal-form.form-overview .form-submit {
	display: block;
}

body.modal-open.quote-review .modal .modal-content {
	overflow-y: scroll;
}

body.modal-open.quote-review .modal-dialog .modal-footer {
	display: none;
	visibility: hidden;
}

.modal-form.form-overview .form-fields .form-label[data-info]:before {
	width: 200%;
}

/*=========================================
 * = SelectFx Color Picker
 ========================================*/

/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	padding: 0;
	margin: 0;
	font-size: 1em;
	border: none !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none !important;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 1em;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
	z-index: 10000;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

/* Custom select skin */
div.cs-skin-boxes {
	background: transparent;
	font-size: 0.65em;
	font-weight: 700;
	max-width: 300px;
	z-index: 2000;
	color: #fff;
}

@media screen and (max-width: 30em) {
	div.cs-skin-boxes { font-size: 1em; }
}

.cs-skin-boxes > span {
	border: 3px solid #292c30;
	border-radius: 5px;
	width: 150px;
	height: 140px;
	font-size: 14px;
	padding: 0 0 0 10px;
	background: #555b64;
}

div.cs-skin-boxes:focus > span {
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
}

.cs-skin-boxes > span::before {
	content: '';
	display: block;
	padding-top: 110px;
	margin-left: -10px;
	box-shadow: 0 25px 0 #292c30, inset 0 -10px #292c30;
}

.cs-skin-boxes > span::after,
.cs-skin-boxes.cs-active > span::after {
	top: auto;
	-webkit-transform: none;
	transform: none;
}

.cs-skin-boxes .cs-options {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	background: #3b3f45;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-boxes.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-boxes .cs-options ul {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.cs-skin-boxes .cs-options li {
	width: 20%;
	height: 25%;
	float: left;
	position: relative;
	cursor: pointer;
	border-radius: 14px;
	overflow: hidden;
	opacity: 0;
	color: rgba(255,255,255,0.6);
	border: 10px solid transparent;
	background-clip: padding-box;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	box-shadow: inset 0 -6em 0 -2em #282b30, inset 0 -1px 1px #000;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li { box-shadow: none; border-width: 3px; border-radius: 8px;}
}

.cs-skin-boxes.cs-active .cs-options li {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(2) {
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(3) {
	-webkit-transition-delay: 0.02s;
	transition-delay: 0.02s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(4) {
	-webkit-transition-delay: 0.03s;
	transition-delay: 0.03s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(5) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(6) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(7) {
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(8) {
	-webkit-transition-delay: 0.07s;
	transition-delay: 0.07s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(9) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(10) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(11) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(12) {
	-webkit-transition-delay: 0.11s;
	transition-delay: 0.11s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(13) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(14) {
	-webkit-transition-delay: 0.13s;
	transition-delay: 0.13s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(15) {
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(16) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(17) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(18) {
	-webkit-transition-delay: 0.17s;
	transition-delay: 0.17s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(19) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(20) {
	-webkit-transition-delay: 0.19s;
	transition-delay: 0.19s;
}

.cs-skin-boxes .cs-options li.cs-selected::after {
	content: '\2714';
	color: rgba(0,0,0,0.6);
	position: absolute;
	font-size: 2em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
	transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
}

.cs-skin-boxes .cs-options li.cs-selected span::after {
	content: '';
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li.cs-selected::after {
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}
}

.cs-skin-boxes .cs-options span {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options span { display: none; }
}

.cs-skin-boxes .cs-options li span:hover,
.cs-skin-boxes li.cs-focus span,
.cs-skin-boxes li.cs-selected span {
	color: #fff;
}

/*=========================================
 * = Responsive Tablet & Mobile
 ========================================*/

@media (max-width: 768px) {
	#form-wrap .modal-form {
		font-size: 1.8em;
		width: 80%;
	}
	.modal-form .form-fields .form-label {
		margin-top: 1.8em;
	}
	.modal-content .section-title hr {
		margin-left: auto;
		margin-right: auto;
	}
	.modal-content .section-title .list-inline {
		text-align: center;
	}
}

@media (max-width: 544px) {
	#form-wrap .modal-form {
		font-size: 1.2em;
		width: 100%;
	}
	.modal-form .form-fields .form-label {
		margin-top: 1.2em;
	}
	.modal-form .form-fields .form-label,
	.modal-form .form-fields .form-field {
		font-size: 1.6rem;
	}
	#form-wrap .form-nav-dots {
		right: 1em;
	}
	#form-wrap .modal-header h1 {
    font-size: 1.4em;
    text-align: left;
	}
	#form-wrap .modal-header h1 > small {
		font-size: .5em;
		text-align: left;
		margin: 0;
	}
	.modal-form .form-fields .form-label[data-info]:before {
		padding-bottom: 0;
	}
	.modal-content .section-title hr {
		margin-left: 0;
		margin-right: 0;
	}
	.modal-content .section-title .list-inline {
		text-align: left;
	}
}
