/*=========================================
 * = Google Fonts
 ========================================*/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700);

/*=========================================
 * = Global Override
 ========================================*/

::-moz-selection {
	text-shadow: none;
	color: #111;
	background: #eee;
}

::selection {
	text-shadow: none;
	color: #111;
	background: #eee;
}

img::selection {
	color: #111;
	background: 0 0;
}

img::-moz-selection {
	color: #111;
	background: 0 0;
}

:focus {
	outline: 0 !important;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	background-color: #111;
	color: #ccc;
	webkit-tap-highlight-color: #eee;
	top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
}

a {
	color: #fa023c;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

a:hover,
a:focus {
	color: #fff;
	outline: 0;
	text-decoration: none;
	text-shadow: 0 0 10px #fa023c;
	-webkit-text-shadow: 0 0 10px #fa023c;
	-moz-text-shadow: 0 0 10px #fa023c;
}

p {
	color: #ccc;
	font-size: 17px;
	line-height: 1.7;
	margin-bottom: 20px;
	font-family: 'Titillium Web', 'Helvetica Neue', Arial, sans-serif;
}

section {
	padding: 60px 0 30px;
}

aside {
	padding: 45px 0;
}

/*=========================================
 * = Class Helper
 ========================================*/

.bg-inverse {
	background-color: #2a282b;
}

.hide {
	display: none !important;
}

.lead {
	color: #fff;
	font-weight: 600;
}

.card {
	background: #111;
	border-color: #333;
}

.tooltip {
	font-size: .75rem;
}

body.modal-open {
	padding-right: 0 !important;
}

body.modal-open .modal {
	overflow-y: hidden;
}

.modal-dialog,
.modal-content {
	display: block;
	border: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	background-color: #111;
	border-radius: 0;
	overflow: hidden;
}

.modal-dialog .modal-content {
  display: block;
  padding: 1em;
}

.modal-content .modal-header,
.modal-content .modal-footer {
  display: block;
  height: auto;
	border: none;
	padding: 0;
}

.modal-content .modal-footer {
	position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1rem;
	z-index: 1;
}

.modal-content .section-title hr {
	margin-left: 0;
}

.modal-backdrop {
	background-color: #000;
}

.modal-header .close {
	color: #000;
	opacity: .5;
}

hr {
	max-width: 120px;
	border-width: 3px;
	opacity: 0.08;
	margin-top: 25px;
	margin-bottom: 25px;
}

hr.light {
	border-color: #eceeef;
	opacity: 1;
}

hr.primary {
	border-color: #fa023c;
	opacity: 1;
}

.text-normal {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.wide-space {
	letter-spacing: 1.6px;
}

.icon-lg {
	font-size: 30px;
	line-height: 18px;
}

.bg-main {
	background-color: #111;
}

.bg-alt {
	background-color: #191919;
}

.bg-light {
	background-color: #252525;
}

.text-faded {
	color: rgba(245, 245, 245, 0.7);
}

.text-dark {
	color: #999;
}

.text-light {
	color: #fff;
	font-weight: 300 !important;
}

.text-light:hover,
.text-light:focus {
	color: #eee;
	text-decoration: none;
}

.text-primary {
	color: #fa023c !important;
}

.section-title h1,
.section-title h2 {
	color: #eee;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-bottom: 0;
	font-size: 1.8rem;
}

.section-title h1 > .text-muted,
.section-title h2 > .text-muted {
	display: block;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: none;
	text-align: center;
}

.section-title hr.primary {
	margin-bottom: 15px;
	margin-top: 15px;
}

.section-title .lead {
	color: #929292;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	margin: 15px auto 30px;
	width: 75%;
}

/*=========================================
 * = Footer
 ========================================*/

.sitefooter {
	padding: 45px;
	padding-top: 50px;
	background-color: #111;
	border-top: 15px dashed #222;
}

.sitefooter h4,
.sitefooter h6 {
	color: #fff;
}

.social-media a {
  display: block;
  width: 60px;
  height: 60px;
}

.sitefooter .copyright {
	text-align: center;
}

.sitefooter .copyright a {
	color: #b7b7b7;
}

.sitefooter .copyright i {
	margin-left: 5px;
	margin-right: 5px;
}

/*=========================================
 * = Navigation
 ========================================*/

/*
.navbar-default.navbar-fixed-top + section {
	padding-top: 156px;
}
*/

.navbar-default {
	border: 0;
	background-color: #111;
	margin-bottom: -75px;
	z-index: 101;
}

.navbar-default.navbar-fixed-top {
	margin-bottom: 0;
}

.navbar-brand img {
	width: auto;
	height: 20px;
	margin: 8px 15px 8px 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #fa023c;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
	border-color: transparent;
}

.navbar-default .nav .nav-link,
.navbar-default .nav .nav-link:focus {
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	position: relative;
}

.navbar-default .nav .nav-link::before {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #fa023c;
	-webkit-transform: scale3d(0, 1, 1);
	-moz-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: transform 0.1s;
	-moz-transition: transform 0.1s;
	transition: transform 0.1s;
}

.navbar-default .nav .nav-link.active::before {
	transform: scale3d(1, 1, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
}

.navbar-default .nav .nav-link:hover {
	color: #fa023c;
	text-shadow: none;
}

.navbar-default .nav .nav-link.active,
.navbar-default .nav .nav-link.active:focus {
	color: #fa023c !important;
	background-color: transparent;
}

/* responsive nav */

@media(max-width:48em) {
	.navbar-default .navbar-nav>.nav-item {
		float: none;
		margin-left: .1rem;
	}
	.navbar-default .navbar-nav {
		float: none !important;
	}
	.navbar-default .navbar-brand {
		display: block;
		float: none;
		text-align: center;
		margin: 0;
	}
	.navbar-default .navbar-brand img {
		display: inline;
		margin: 5px auto;
	}
	.navbar-default .navbar-toggler {
		position: absolute;
    left: 8px;
    top: 8px;
    z-index: 1;
	}
	.section-title h1,
	.section-title h2 {
		display: block;
		text-align: center;
	}
	.section-title .lead {
		width: 95%;
	}
}

@media(min-width:48em) {
	.navbar-default {
		border-color: transparent;
		background-color: #fff;
		min-height: 60px;
	}
	.navbar-brand {
		padding: 12px;
	}
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		color: #fa023c;
		text-shadow: none;
	}
	.navbar-default .nav > li>a,
	.navbar-default .nav>li>a:focus {
		color: #fff;
		padding-left: 5px;
		padding-top: 21px;
		letter-spacing: 1.1px;
		text-shadow: none;
	}
	.navbar-default .nav > li>a:hover,
	.navbar-default .nav>li>a:focus:hover {
		color: #fa023c;
		text-shadow: none;
	}
	#topNav {
		background-color: #111;
	}
	.section-title h1 > .text-muted,
	.section-title h2 > .text-muted {
		display: inline-block;
		text-align: left;
	}
	.modal-dialog .modal-content {
		padding: 2.8em;
	}
	.modal-dialog .modal-footer {
		bottom: 2.8em;
		left: 2.8em;
		right: 2.8em;
	}
}

/*=========================================
 * = Header
 ========================================*/

.siteheader {
	position: relative;
	min-height: auto;
	text-align: center;
	color: #333;
	width: 100%;
	background-color: #f1f1f1;
	background-image: url(../img/fauzie-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.siteheader .header-content {
	position: relative;
	width: 100%;
	padding: 100px 15px;
	text-align: center;
	z-index: 2;
}

.siteheader .header-content .inner .site-title {
	margin-top: 0;
	margin-bottom: 0;
}

.siteheader .header-content .inner .site-title > span {
	display: none;
}

.siteheader .header-content .inner .site-subtitle {
	letter-spacing: 6px;
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 25px;
	min-height: 25px;
}

.siteheader .header-content .inner p {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	color: #333;
}

.siteheader .header-content .inner .btn-primary-outline {
	background-color: transparent !important;
}

.siteheader .header-content .inner .btn-primary-outline:hover,
.siteheader .header-content .inner .btn-primary-outline:focus,
.siteheader .header-content .inner .btn-primary-outline:active {
	color: #fa023c;
	text-shadow: none !important;
}

@media(min-width:34em) {
	.icon-lg {
		font-size: 50px;
	}
	#about .fauzie-details {
		margin: 15px auto 30px;
		width: 80%;
	}
	.siteheader {
		min-height: 100%;
	}
	.siteheader .header-content {
		position: absolute;
		top: 50%;
		padding: 0 50px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.siteheader .header-content .inner {
		margin-right: auto;
		margin-left: auto;
		max-width: 1000px;
	}
	.siteheader .header-content .inner h1 {
		font-size: 53px;
	}
	.siteheader .header-content .inner p {
		margin-right: auto;
		margin-left: auto;
		max-width: 80%;
		font-size: 18px;
	}
	section {
		min-height: 580px;
		padding: 80px 0 50px;
	}
}

/*=========================================
 * = Forms
 ========================================*/

textarea {
	resize: vertical;
}

.submit-group {
	margin-top: 2em;
}

.form-group {
	padding-top: 1.2em;
	margin-top: 1em;
	position: relative;
}

.form-group .form-control-label {
	display: inline-block;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	-webkit-transform: translate3d(0, 2.2em, 0);
	transform: translate3d(0, 2.2em, 0);
}

.form-group .form-control-label .label-content {
	display: block;
	padding: 0 1em;
	font-weight: 300;
	color: #b5b5b5;
	position: relative;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
}

.form-group .form-control-label .label-content:after {
	content: attr(data-content);
	position: absolute;
	top: -200%;
	left: 0;
	color: #fa023c;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.active-filled.form-group .form-control-label {
	-webkit-animation: inputLabelActive 0.25s forwards;
	animation: inputLabelActive 0.25s forwards;
}

.form-group .form-control {
	background-color: #111;
	position: relative;
	display: block;
	float: right;
	color: #eceeef;
	padding: 0.8em 0.6em;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 2px solid #b5b5b5;
	-webkit-appearance: none;
  -webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
}

.active-filled.form-group .label-content,
.form-group .form-control:focus + .form-control-label .label-content {
	-webkit-animation: inputLabelContentActive 0.25s forwards ease-in;
	animation: inputLabelContentActive 0.25s forwards ease-in;
}

.active-filled.form-group .form-control,
.form-group .form-control:focus {
	color: #fff;
	border: 2px solid #fa023c;
	outline: none;
}

@-webkit-keyframes inputLabelActive {
	0%, 70% {
		-webkit-transform: translate3d(0, 2.2em, 0);
		transform: translate3d(0, 2.2em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes inputLabelActive {
	0%, 70% {
		-webkit-transform: translate3d(0, 2.2em, 0);
		transform: translate3d(0, 2.2em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes inputLabelContentActive {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

@keyframes inputLabelContentActive {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

.btn {
	border-width: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	letter-spacing: 2px;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	font-weight: 300 !important;
	-webkit-transition: background-color 0.3s, border-color 0.5s, color 0.3s;
	transition: background-color 0.3s, border-color 0.5s, color 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.btn-lg {
	padding: .8rem 2rem;
}

.btn:not(.disabled):active {
    top: 2px;
}

.btn:not(.disabled)::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fa023c;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn:not(.disabled):hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.btn.btn-secondary-outline {
	-webkit-box-shadow: inset 0px 0px 0px 2px #ccc;
	-moz-box-shadow: inset 0px 0px 0px 2px #ccc;
	box-shadow: inset 0px 0px 0px 2px #ccc;
}

.btn.btn-secondary::before,
.btn.btn-secondary-outline::before {
	border-color: #ccc;
}


.btn.btn-primary {
	background-color: #fa023c;
	color: #eee;
}

.btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active,
.open > .btn.btn-primary.dropdown-toggle, .btn.btn-primary:hover {
	background-color: #111;
	color: #fa023c;
}

.btn-primary-outline {
	background-color: transparent;
	color: #fa023c;
	-webkit-box-shadow: inset 0px 0px 0px 2px #fa023c;
	-moz-box-shadow: inset 0px 0px 0px 2px #fa023c;
	box-shadow: inset 0px 0px 0px 2px #fa023c;
}

.btn-primary-outline:focus, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline.active,
.open > .btn-primary-outline.dropdown-toggle, .btn-primary-outline:hover {
	background-color: #fa023c;
	color: #fff;
}

.btn.disabled, .btn:disabled,
.btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus,
.btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus,
.btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover,
.btn-primary-outline.disabled:focus, .btn-primary-outline.disabled.focus,
.btn-primary-outline:disabled:focus, .btn-primary-outline:disabled.focus,
.btn-primary-outline.disabled:hover, .btn-primary-outline:disabled:hover {
  opacity: .8;
	color: #eee;
	background-color: #b5b5b5;
}

.btn-xl {
	padding: 18px 32px;
	font-size: 20px;
}

.btn-clear {
  -webkit-appearance: none;
	color: #eee;
  cursor: pointer;
  background: transparent;
  border: 0;
	padding: 0;
	margin: 0 3px;
	font-size: 22px;
}

.btn-clear:hover {
	color: #fa023c;
}

.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

/*=========================================
 * = Skill Bars
 ========================================*/

.skill-title {
	display: block;
  margin-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;
}
.skillbars .skillbar-wrap {
  display: table;
  width: 100%;
  padding-bottom: 30px;
}
.skillbars .skillbar-wrap .icon {
	display: table-cell;
	vertical-align: bottom;
  width: 10%;
  padding-right: 15px;
}
.skillbars .skillbar-wrap .icon i {
  display: block;
	font-size: 32px;
  line-height: 1em;
  text-align: center;
}
.skillbars .skillbar-wrap .bar-and-text {
	display: table-cell;
	vertical-align: bottom;
  width: 80%;
  text-transform: uppercase;
}
.skillbars .skillbar-wrap .bar-and-text > span {
  font-weight: 600;
  font-size: 15px;
}
.skillbars .skillbar-wrap .bar-and-text .bar {
  background: #111;
  height: 5px;
  margin-top: 5px;
  overflow: hidden;
}
.skillbars .skillbar-wrap .bar-and-text .bar .filled {
	background-color: #fa023c;
  height: 5px;
  position: relative;
}
.skillbars .skillbar-wrap .bar-and-text .bar .filled:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  right: -5px;
  top: 0px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}
.skillbars .skillbar-wrap .number-wrap {
	display: table-cell;
	vertical-align: bottom;
  width: 10%;
}
.skillbars .skillbar-wrap .number-wrap .number {
  background: #111;
  padding: 5px 10px;
  color: #b5b5b5;
  font-size: 10px;
	font-weight: 400;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: 7px;
}
.skillbars .skillbar-wrap .number-wrap .number:before {
  content: "";
  position: absolute;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid #111;
  display: inline-block;
  height: 5px;
  vertical-align: top;
  width: 5px;
  left: -10px;
}

/*=========================================
 * = Custom Section Specific
 ========================================*/

#about {
	position: relative;
	background-color: transparent;
	padding-top: 176px;
}

#about::after {
  content: "";
	background-color: #000;
	background-image: url(../img/fauzie-bg2.jpg);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
	-webkit-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

#about.faded::after {
	opacity: 0;
}

#about a.url,
#about .jobTitle {
	display: none;
}

#about .site-desc a {
	color: inherit;
}

#about .fauzie-details .icon-lg {
	display: block;
	line-height: 1em;
	color: #fefefe;
}

#about .fauzie-details .icon-lg + span {
	display: block;
	text-align: center;
	line-height: 46px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}


#cta .get-quote {
	width: 95%;
	margin: 0 auto;
}

/*=========================================
 * = Form Wizard
 ========================================*/

#form-wrap .modal-form {
	position: relative;
  text-align: left;
  font-size: 2.5em;
	top: 32%;
  margin: 0 auto;
  width: 70%;
}

#form-wrap .form-submit {
	display: none;
}

#form-wrap .btn-continue {
	position: relative;
	margin: 15px 0 21px;
	visibility: hidden;
}

#form-wrap .btn-continue:after {
  content: "or press ENTER";
  position: absolute;
  left: 0;
  right: 0;
  top: 110%;
  font-size: 12px;
	line-height: 20px;
  color: #888;
}

#form-progress {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  z-index: 1060;
	visibility: hidden;
}

#form-progress > span {
  background: #fa023c;
  display: block;
  height: 0.5em;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

#form-wrap .form-numbers {
	position: relative;
	cursor: default;
	width: 2em;
	visibility: hidden;
}

#form-wrap .form-numbers span {
	float: right;
  width: 40%;
  text-align: center;
}

#form-wrap .form-numbers .current {
	float: left;
}

#form-wrap .form-numbers .number-new {
	position: absolute;
	left: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

#form-wrap .form-numbers:after {
  position: absolute;
  width: 100%;
  text-align: center;
  content: '/';
  font-weight: 300;
  opacity: 0.4;
  left: 0;
}

/* Animations for numbers */
/* Show next number */
#form-wrap .form-numbers.show-next .number-new {
	-webkit-animation: animMoveUpFromDown 0.4s both;
	animation: animMoveUpFromDown 0.4s both;
}

@-webkit-keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

#form-wrap .form-numbers.show-next .current {
	-webkit-animation: animMoveUp 0.4s both;
	animation: animMoveUp 0.4s both;
}

@-webkit-keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); }
}

@keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

/* Show previous number */
#form-wrap .form-numbers.show-prev .number-new {
	-webkit-animation: animMoveDownFromUp 0.4s both;
	animation: animMoveDownFromUp 0.4s both;
}

@-webkit-keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

#form-wrap .form-numbers.show-prev .current {
	-webkit-animation: animMoveDown 0.4s both;
	animation: animMoveDown 0.4s both;
}

@-webkit-keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); }
}

@keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

/* Dots Control */

#form-wrap .form-nav-dots {
  position: absolute;
  right: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	visibility: hidden;
	z-index: 1060;
}

#form-wrap .form-nav-dots button {
	position: relative;
  display: block;
  padding: 0;
  margin: 16px 0;
  width: 16px;
  height: 16px;
	border: none;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#form-wrap .form-nav-dots button:before,
#form-wrap .form-nav-dots button:after {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  content: '';
  text-indent: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#form-wrap .form-nav-dots button:after {
	background-color: rgba(0,0,0,0.4);
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
  transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

#form-wrap .form-nav-dots button:hover:before,
#form-wrap .form-nav-dots button.form-dot-current:before {
	background: #fffed8;
}

#form-wrap .form-nav-dots button[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

/* Form Wizard : Fields */

.modal-form .form-message-final,
.modal-form .form-message-error {
	display: block;
	color: #eb7e7f;
	font-size: 14px;
	font-weight: 700;
	visibility: hidden;
	opacity: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.modal-form .form-message-error.form-show {
	opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.modal-form .form-fields {
	position: relative;
  margin: 0 auto;
  padding: 0;
  top: 32%;
  list-style: none;
}

.modal-form .form-fields > li {
  width: 100%;
	visibility: hidden;
	position: absolute;
}

.modal-form .form-fields .form-label {
	color: #eee;
	display: inline-block;
  padding: 0 5px 1em 0;
	margin: 1.5em 0 0 0;
	font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  pointer-events: none;
	position: relative;
}

.modal-form .form-fields .form-field {
	display: block;
  margin: 0;
  padding: 0 0 0.15em;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.2);
  background-color: transparent;
  color: #fffed8;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.5em;
  border-radius: 0;
	position: relative;
}

.modal-form .form-fields .form-label[data-info]:before {
	position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0 0 10px;
  min-width: 200px;
  content: attr(data-info);
  font-size: 14px;
  color: #768fbd;
	font-family: 'Titillium Web', sans-serif;
  -webkit-transform: translate3d(0,-5px,0);
  transform: translate3d(0,-5px,0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
	visibility: hidden;
}

.modal-form .form-fields .form-label[data-info]:hover:before {
	opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
	visibility: visible;
}

.modal-form .form-fields .form-label:hover ~ .field-info,
.modal-form .form-fields > li .field-info:hover {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	pointer-events: auto;
}

.modal-form .form-fields .form-label[data-info]:after {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(255,255,255,0.4);
  color: rgba(255,255,255,0.4);
  border-radius: 50%;
  content: 'i';
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
  font-family: Georgia, serif;
  line-height: 20px;
  cursor: pointer;
  pointer-events: auto;
}

.form-show {
  visibility: visible !important;
}

/* Animation classes & animations */
.modal-form .form-fields .field-current {
	visibility: visible;
}

.modal-form .form-fields .field-hide,
.modal-form .form-fields .field-show {
	pointer-events: none;
}

/* Hide current li when navigating to next question */
.modal-form .fields-next .field-hide {
	visibility: visible;
}

.modal-form .fields-next .field-hide .form-field,
.modal-form .fields-next .field-hide .form-label {
	-webkit-animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.modal-form .fields-next .field-hide .form-field {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Show new li when navigating to next question */
.modal-form .fields-next .field-show .form-field,
.modal-form .fields-next .field-show .form-label {
	-webkit-animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.modal-form .fields-next .field-show .form-field {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Hide current li when navigating to previous question */
.modal-form .fields-prev .field-hide {
	visibility: visible;
}

.modal-form .fields-prev .form-field,
.modal-form .fields-prev .field-hide .form-label {
	-webkit-animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.modal-form .fields-prev .field-hide .form-label {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Show new li when navigating to previous question */
.modal-form .fields-prev .field-show .form-field,
.modal-form .fields-prev .field-show .form-label {
	-webkit-animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.modal-form .fields-prev .field-show .form-label {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/*=========================================
 * = Responsive Tablet & Mobile
 ========================================*/

@media (max-width: 544px) {
	#form-wrap form {
		font-size: 1.2em;
		width: 95%;
	}
	#quoteform .form-fields .form-field {
		font-size: 1em;
	}
	#form-wrap .form-nav-dots {
		right: 1em;
	}
}
