<div id="profile" class="clear"></div>
<section id="about" itemscope itemtype="http://schema.org/Person">
	<div class="container section-title">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="wow fadeInUp" itemprop="name">Rizal Fauzie Ridwan</h2>
				<span class="jobTitle" itemprop="jobTitle">Freelance Web Worker</span>
				<a class="url" href="https://fauzie.id/" itemprop="url">fauzie.id</a>
				<hr class="primary">
				<p class="lead wow flipInX" data-wow-delay="1s">also known as <em itemprop="additionalName">fauzie</em> or <em itemprop="additionalName">fauzievolute</em></p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center site-desc wow fadeInUp">
				<p>Coffee enthusiasts and active smokers here. Like to help people for designing and developing their website, blog and  web application.
					<br>Was born since 15 Dec 1990 and lived in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Bandung</span>, <span itemprop="addressRegion">West Java</span>, <span itemprop="addressCountry">ID</span></span>.
                    <br>The husband of beloved wife <strong>&hearts; Arsela Lestari</strong> since 10<sup>th</sup> April 2016.
                    <br>and superheroes for my child <strong>&starf; Arfa Alkhawarizmi</strong>, was born since 28<sup>th</sup> Feb 2017.
                </p>
			</div>
		</div>
		<div class="row fauzie-details">
			<div class="col-6 col-sm-3 text-center wow zoomInDown" data-wow-delay="1s">
				<i class="icon-lg ion-ios-body"></i> <span itemprop="birthDate">30 Years Old</span>
			</div>
			<div class="col-6 col-sm-3 text-center wow zoomInDown" data-wow-delay="1.5s">
				<i class="icon-lg ion-ios-flag"></i> <span itemprop="nationality">Indonesian</span>
			</div>
			<div class="col-6 col-sm-3 text-center wow zoomInDown" data-wow-delay="2s">
				<i class="icon-lg ion-ios-heart"></i> <span class="relationship-status">Married</span>
			</div>
			<div class="col-6 col-sm-3 text-center wow zoomInDown" data-wow-delay="2.5s">
				<i class="icon-lg ion-ios-moon"></i> <span class="religion">100% Moslem</span>
			</div>
		</div>
	</div>
</section>
