<div id="profile" class="clear"></div>
<section id="about" itemscope itemtype="http://schema.org/Person">
	<div class="container section-title">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="wow fadeInUp" itemprop="name">Rizal Fauzie Ridwan</h2>
				<span class="jobTitle" itemprop="jobTitle">Freelance Web Worker</span>
				<a class="url" href="http://fauzie.my.id/" itemprop="url">www.fauzie.my.id</a>
				<hr class="primary">
				<p class="lead wow flipInX" data-wow-delay="1s">also known as <em itemprop="additionalName">fauzie</em> or <em itemprop="additionalName">fauzievolute</em></p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center site-desc wow fadeInUp">
				<p>I'm a smart worker, fast learner, and always try something new. <span itemprop="jobTitle">A graphic &amp; web designer</span>, like to help people for designing and developing their website, blog and some web application.
					<br>Was born and lived in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Bandung</span>, <span itemprop="addressRegion">West Java</span>, <span itemprop="addressCountry">ID</span></span>. The husband of beloved wife <a href="http://alfarise.com/" target="ext" title="Go to Our Family's Blog" data-toggle="tooltip">&hearts; Arsela Lestari</a> since 10<sup>th</sup> April 2016.</p>
			</div>
		</div>
		<div class="row fauzie-details">
			<div class="col-6 col-sm-3 text-center wow zoomInDown" data-wow-delay="1s">
				<i class="icon-lg ion-ios-body"></i> <span itemprop="birthDate">25 Years Old</span>
			</div>
			<div class="col-6 col-sm-3 text-center wow zoomInDown" data-wow-delay="1.5s">
				<i class="icon-lg ion-ios-flag"></i> <span itemprop="nationality">Indonesian</span>
			</div>
			<div class="col-6 col-sm-3 text-center wow zoomInDown" data-wow-delay="2s">
				<i class="icon-lg ion-ios-heart"></i> <span class="relationship-status">Married</span>
			</div>
			<div class="col-6 col-sm-3 text-center wow zoomInDown" data-wow-delay="2.5s">
				<i class="icon-lg ion-ios-moon"></i> <span class="religion">100% Moslem</span>
			</div>
		</div>
	</div>
</section>