<section id="contact" class="bg-main">
	<div class="container section-title">
		<div class="row">
			<div class="col-lg-12 text-xs-center">
				<h2 class="wow fadeInUp">Get in Touch</h2>
				<hr class="primary">
				<p class="lead wow flipInX" data-wow-delay="1s">I love feedback. Fill out the form below and i'll get back to you as soon as possible</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-xs-center">
				<form id="feedback" class="row" autocomplete="off">
					<div class="col-xs-12 feedback-message">
						<small class="success" style="display:none"><i class="ion-happy"></i>Hooray! Your message has been sent, soon I'll contact you. Thanks.</small>
						<small class="error" style="display:none"><i class="ion-sad"></i>Uups! Something wrong, please try again or refresh your browser</small>
					</div>
					<div class="col-xs-12 col-md-4">
						<fieldset class="form-group">
							<input type="text" class="form-control" id="name" name="name" required>
							<label class="form-control-label" for="name"><span class="label-content" data-content="Your Name">Your Name</span></label>
						</fieldset>
					</div>
					<div class="col-xs-12 col-md-4">
						<fieldset class="form-group">
							<input type="email" class="form-control" id="email" name="email" required>
							<label class="form-control-label" for="email"><span class="label-content" data-content="Your Email">Your Email</span></label>
						</fieldset>
					</div>
					<div class="col-xs-12 col-md-4">
						<fieldset class="form-group">
							<input type="phone" class="form-control" id="phone" name="phone" required>
							<label class="form-control-label" for="phone"><span class="label-content" data-content="Phone Number">Phone Number</span></label>
						</fieldset>
					</div>
					<div class="col-xs-12">
						<fieldset class="form-group">
							<textarea class="form-control" rows="4" id="message" name="message" required></textarea>
							<label class="form-control-label" for="message"><span class="label-content" data-content="Your Message">Your Message</span></label>
						</fieldset>
					</div>
					<div class="col-xs-12 col-lg-4 col-lg-offset-4 m-y-1 submit-group">
						<input type="hidden" id="referrer" name="referrer" value="fauzie.my.id">
						<button type="submit" class="btn btn-primary-outline btn-block btn-lg"><span>Send</span> <i class="ion-android-arrow-forward"></i></button>
					</div>
				</form>
				<div id="loadingbar" class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
					<span class="wait">Loading...</span>
				</div>
			</div>
		</div>
	</div>
</section>