<section id="photostack" class="bg-main photostack photostack-start">
	<div class="photostack-container" itemscope itemtype="http://schema.org/ImageGallery">
  {% for gallery in site.data.galleries %}
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			<a href="{{ gallery.image }}" class="photostack-img" itemprop="contentUrl" data-size="{{ gallery.width }}x{{ gallery.height }}">
				<img src="{{ gallery.thumb }}" itemprop="thumbnail" alt="{{ gallery.title }}">
			</a>
			<figcaption itemprop="caption description">
				<h2 class="photostack-title">{{ gallery.title }}<small>- {{ gallery.year }}</small></h2>
			</figcaption>
		</figure>
  {% endfor %}
	</div>
</section>