<section id="projects">
	<div class="container section-title">
		<div class="row">
			<div class="col-lg-12 text-xs-center">
				<h2 class="wow fadeInUp">Latest Projects</h2>
				<hr class="primary">
				<p class="lead wow flipInX" data-wow-delay="1s">my recent works and projects on my desk</p>
			</div>
		</div>
	</div>
  {% for carousel in site.data.projects %}
	<div id="{{ carousel.id | slugify }}" class="carousel slide m-y-3" data-ride="carousel" data-interval="{{ carousel.interval | abs }}" data-keyboard="false" data-pause="false">
		<div class="container">
			<div class="row">
        {% if carousel.nav %}
				<div class="col-xs-12 col-md-3 col-md-push-9 text-xs-center text-md-right lead">
					<a class="btn btn-primary-outline prev" href="#" title="Previous"><i class="ion-chevron-left"></i></a>
					<a class="btn btn-primary-outline next" href="#" title="Next"><i class="ion-chevron-right"></i></a>
				</div>
        {% endif %}
				<div class="col-xs-12 col-md-9 col-md-pull-3 text-xs-center text-md-left">
					<ul class="list-inline history-line">
          {% for legend in carousel.legend %}
						<li id="{{ legend.title | slugify }}" class="list-inline-item"><i class="{{ legend.icon }}"></i> <span>{{ legend.title }}</span></li>
          {% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="container p-t-0 m-t-2 carousel-inner">
    {% for item in carousel.items %}
      {% capture rowstart %}<div class="row row-equal carousel-item m-t-0{% if forloop.first %} active{% endif %}">{% endcapture %}
      {% cycle 'row-group-start': rowstart, '', '' %}
      <div id="project-{{ item.name | slugify }}" class="project-item project-{{ item.name | slugify }} col-sm-6 col-md-4">
        <div class="card">
          <div class="card-img-top card-img-top-display">
            <img alt="{{ item.name }}" class="img-fluid" src="{{ item.thumb }}">
          </div>
          <div class="card-block p-t-1">
            <h6 class="small text-wide text-xs-center text-md-left p-b-1">
              {{ item.cat }}
              <span class="text-xs-center pull-md-right">
              {% for tech in item.tech %}
                <i class="{{ tech }}"></i>
              {% endfor %}
              </span>
            </h6>
            <h4><a href="{{ item.url }}" title="{{ item.name }}" target="ext">{{ item.name }}</a><small>{{ item.year }}</small></h4>
          </div>
        </div>
      </div>
      {% if forloop.last %}</div>{% else %}
      {% cycle 'row-group-end': '', '', '</div>' %}
      {% endif %}
    {% endfor %}
		</div>
	</div>
  {% endfor %}
</section>