<section id="services" class="bg-alt">
	<div class="container section-title">
		<div class="row">
			<div class="col-lg-12 text-xs-center">
				<h2 class="wow fadeInUp">Services</h2>
				<hr class="primary">
				<p class="lead wow flipInX" data-wow-delay="1s">my skills and services i can do</p>
			</div>
		</div>
	</div>
	<div class="container wow fadeInUp">
		<div class="row">
			<div class="col-lg-4 col-md-4 text-xs-center">
				<div class="feature"> <i class="icon-lg ion-ios-grid-view-outline wow fadeInDown" data-wow-delay=".1s"></i>
					<h6 class="text-uppercase">Easier</h6>
					<p class="text-muted">Flexbox provides <a href="http://v4-alpha.getbootstrap.com/getting-started/flexbox">simpler, more flexible layout</a> options like vertical centering.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 text-xs-center">
				<div class="feature"> <i class="icon-lg ion-social-sass wow fadeInUp"></i>
					<h6 class="text-uppercase">Sass-y</h6>
					<p class="text-muted">Simply set the <em>$enable-flex</em> variable to <a target="ext" href="http://codeply.com/go/YFFFWHVoRB">enable flexbox</a> in Bootstrap 4.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 text-xs-center">
				<div class="feature"> <i class="icon-lg ion-social-css3-outline wow fadeIn" data-wow-delay=".1s"></i>
					<h6 class="text-uppercase">It's Modern</h6>
					<p class="text-muted">Introduced in CSS3, flexbox won't work in older browsers like <a href="http://caniuse.com/#feat=flexbox">IE9</a>.</p>
				</div>
			</div>
		</div>
	</div>
</section>