<section id="skills" class="bg-light">
	<div class="container section-title">
		<div class="row">
			<div class="col-lg-12 text-xs-center">
				<h2 class="wow fadeInUp">My Skills</h2>
				<hr class="primary">
				<p class="lead wow flipInX" data-wow-delay="1s">illustration skill mastery in a presentation</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 left-frontend m-y-3">
				<h6 class="skill-title">Front-End</h6>
				<div class="skillbars">
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-html5"></i></div>
						<div class="bar-and-text">
							<span>HTML 5</span><div class="bar"><div class="filled wow fadeInLeft" style="width:90%;"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">90%</div></div>
					</div>
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-css3"></i></div>
						<div class="bar-and-text">
							<span>CSS 3</span><div class="bar"><div class="filled wow fadeInLeft" style="width:80%;" data-wow-delay=".3s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">80%</div></div>
					</div>
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-javascript_shield"></i></div>
						<div class="bar-and-text">
							<span>JavaScript</span><div class="bar"><div class="filled wow fadeInLeft" style="width:60%;" data-wow-delay=".6s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">60%</div></div>
					</div>
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-jquery"></i></div>
						<div class="bar-and-text">
							<span>jQuery</span><div class="bar"><div class="filled wow fadeInLeft" style="width:70%;" data-wow-delay=".9s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">70%</div></div>
					</div>
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-nodejs_small"></i></div>
						<div class="bar-and-text">
							<span>Node JS</span><div class="bar"><div class="filled wow fadeInLeft" style="width:45%;" data-wow-delay="1.2s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">45%</div></div>
					</div>
				</div>
			</div><!-- .left-frontend -->
			<div class="col-lg-6 right-backend m-y-3">
				<h6 class="skill-title">Back-End</h6>
				<div class="skillbars">
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-git"></i></div>
						<div class="bar-and-text">
							<span>Git</span><div class="bar"><div class="filled wow fadeInLeft" style="width:90%;" data-wow-delay="1.5s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">90%</div></div>
					</div>
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-php"></i></div>
						<div class="bar-and-text">
							<span>PHP</span><div class="bar"><div class="filled wow fadeInLeft" style="width:80%;" data-wow-delay="1.8s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">80%</div></div>
					</div>
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-python"></i></div>
						<div class="bar-and-text">
							<span>Python</span><div class="bar"><div class="filled wow fadeInLeft" style="width:30%;" data-wow-delay="2.1s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">30%</div></div>
					</div>
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-perl"></i></div>
						<div class="bar-and-text">
							<span>Bash/Perl Script</span><div class="bar"><div class="filled wow fadeInLeft" style="width:50%;" data-wow-delay="2.4s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">50%</div></div>
					</div>
					<div class="skillbar-wrap">
						<div class="icon text-right"><i class="devicons devicons-linux"></i></div>
						<div class="bar-and-text">
							<span>Linux Server</span><div class="bar"><div class="filled wow fadeInLeft" style="width:70%;" data-wow-delay="2.7s"></div></div>
						</div>
						<div class="number-wrap text-right"><div class="number">70%</div></div>
					</div>
				</div>
			</div><!-- .right-backend -->
		</div>
	</div>
</section>