{% assign wowdelay = 0 %}
<section id="skills" class="bg-light">
	<div class="container section-title">
		<div class="row">
			<div class="col-lg-12 text-xs-center">
				<h2 class="wow fadeInUp">My Skills</h2>
				<hr class="primary">
				<p class="lead wow flipInX" data-wow-delay="1s">illustration skill mastery in a presentation</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
    {% for skillgroup in site.data.skills %}
      <div id="{{ skillgroup.name | slugify }}" class="{{ skillgroup.name | slugify }} col-lg-6 m-y-3">
        <h6 class="skill-title">
          {{ skillgroup.name }} {% if skillgroup.desc != '' %}<br><small>{{ skillgroup.desc }}</small>{% endif %}
        </h6>
        <div class="skillbars">
        {% for skill in skillgroup.skills %}
          {% assign wowdelay = wowdelay | plus: 0.3 %}
          <div id="skill-{{ skill.name | slugify }}" class="skillbar-wrap">
						{% if skill.icon != '' %}<div class="icon text-right"><i class="{{ skill.icon }}"></i></div>{% endif %}
						<div class="bar-and-text">
							<span>{{ skill.name }}</span>
							<div class="bar">
							  <div class="filled wow fadeInLeft" style="width:{{ skill.value | abs }}%;" data-wow-delay="{{ wowdelay | abs }}s"></div>
							</div>
						</div>
						<div class="number-wrap text-right"><div class="number">{{ skill.value | abs }}%</div></div>
					</div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
		</div>
	</div>
</section>